<header class="header">

    <div class="header__logo">
        <span>Viva</span>
        <span>la Vida</span>
    </div>

    <nav class="header__nav header__nav--links">
        <ul>
            <li><a href="#home">Us</a></li>
            <li><a href="#rooms">Rooms</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="https://www.airbnb.com/rooms/33552416">
                    <svg>
                        <use href="#airbnb" xlink:href="#airbnb"/>
                    </svg>
                </a>
            </li>

        </ul>
    </nav>
</header>
